<% url = @user.new_record? ? profiles_path : profile_path(@user) %>

<h1>Edit Profile</h1>

<%= render 'partials/errors', model: @user %>

<%= form_for @user, url: url do |f| %>
  <label>Display Name</label><br>
  <%= f.text_field :name %><br><br>
  <label>Upload a new avatar?</label><br>
  <%= f.file_field :avatar %><br><br>
  <label>About</label><br>
  <%= f.text_area :about %>
  <hr>
  <button>Save changes</button>
<% end %>
