<% title = t('common.person').titleize.pluralize %>
<% content_for(:title, title) %>
<% content_for(:metadata, ogp_tags(title, profiles_url)) %>

<% @redcarpet ||= Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>

<% unless @users.exists? %>
  <div class='nothing-to-show'>There's nothing to see here right now...</div>
<% end %>

<% @users.each do |user| %>
  <div class='post'>
    <div class='header'>
      <%= avatar(user) %>
      <%= content_tag(:div, user, class: 'title') %>
    </div>
    <div class='footer'>
      <%= link_to 'Newsposts', newsposts_path(user: user.id) %>
      <%= link_to 'Articles', articles_path(user: user.id) %>
      <%= link_to 'Downloads', downloads_path(user: user.id) %>
    </div>
    <div class='content'>
      <%= @redcarpet.render(user.about || 'rly makes u think... 🤔').html_safe %>
    </div>
  </div>
<% end %>
