<%= render('partials/errors', model: @user) %>

<%= form_for(
  @user,
  url: registration_path(@user),
  html: { class: 'sign-in-form' }
) do |f| %>
  <div class='title'><%= t('views.devise.sign_up.header') %></div>

  <%= field_with_label(f, :email) do %>
    <%= f.email_field(:email, autofocus: true, autocomplete: 'email') %>
  <% end %>

  <%= field_with_label(f, :password) do %>
    <%= f.password_field(:password, autocomplete: 'off') %>
  <% end %>

  <%= field_with_label(f, :password_confirmation) do %>
    <%= f.password_field(:password_confirmation, autocomplete: 'off') %>
  <% end %>

  <div class='actions'>
    <button>
      <%= t('views.devise.sign_up.button') %>
    </button>
  </div>
<% end %>

<%= render('devise/shared/links') %>
