<% title = t('common.download').titleize.pluralize %>
<% content_for(:title, title) %>
<% content_for(:metadata, ogp_tags(title, downloads_url)) %>

<% unless @downloads.exists? %>
  <div class='nothing-to-show'><%= t('views.articles.none') %></div>
<% end %>

<% @downloads.each do |download| %>
  <div class='post-summary'>
    <%= link_to download, download_path(download), class: 'title' %>
    <%= content_tag :span, download.upload_type.titleize, class: 'genre' %>
    <% if download.upload.attached? %>
      <%= content_tag :span, number_to_human_size(download.upload.blob.byte_size), class: 'size' %>
    <% else %>
      <%= content_tag :span, 'N/A', class: 'size' %>
    <% end %>
    <% if current_user %>
      <%= content_tag :span, visibility_text(download), class: 'visible' %>
    <% end %>
    <%= content_tag :span, download.user, class: 'user' %>
    <%= content_tag :span, download.created_at, class: 'date' %>
  </div>
<% end %>
