<% content_for(:title, @download) %>
<% content_for(:metadata, ogp_tags_for(@download)) %>

<div class='download'>
  <div class='preview'>
    <% if @download.upload_type == 'image' %>
      <%= image_tag url_for(@download.upload) %>
    <% elsif @download.upload_type == 'video' %>
      <%= content_tag :video, '', src: url_for(@download.upload), controls: true %>
    <% elsif @download.upload_type == 'audio' %>
      <%= content_tag :audio, '', src: url_for(@download.upload), controls: true %>
    <% end %>
  </div>
  <div class='direct'>
    <% if @download.upload.attached? %>
      <%= link_to url_for(@download.upload) do %>
        Download <%= @download.upload.filename %>
        (<%= number_to_human_size(@download.upload.blob.byte_size) %>)
      <% end %>
    <% else %>
      <div class='deleted'><%= t('views.downloads.deleted') %></div>
    <% end %>
  </div>
</div>

<%= render 'posts/embed', post: @download %>
