<% title = t('common.article').titleize.pluralize %>
<% content_for(:title, title) %>
<% content_for(:metadata, ogp_tags(title, articles_url)) %>

<% unless @articles.exists? %>
  <div class='nothing-to-show'><%= t('views.articles.none') %></div>
<% end %>

<% @articles.each do |article| %>
  <div class='post-summary'>
    <%= link_to article, article_path(article), class: 'title' %>
    <% if current_user %>
      <%= content_tag :span, visibility_text(article), class: 'visible' %>
    <% end %>
    <%= content_tag :span, article.user, class: 'user' %>
    <%= content_tag :span, article.created_at, class: 'date' %>
  </div>
<% end %>
