<% return unless model.errors.any? %>
<div class='alert'>
  <p>The changes could not be saved for the following reason(s):</p>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
