<%= render('partials/errors', model: @user) %>

<%= form_for(
  @user,
  url: password_path(@user),
  html: { class: 'sign-in-form', method: :post }
) do |f| %>
  <div class='title'><%= t('views.devise.password.header') %></div>

  <%= field_with_label(f, :email) do %>
    <%= f.email_field(:email, autofocus: true, autocomplete: 'email') %>
  <% end %>

  <div class='actions'>
    <button>
      <%= t('views.devise.password.button') %>
    </button>
  </div>
<% end %>

<%= render('devise/shared/links') %>
