<% @redcarpet ||= Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>

<div class='post'>
  <div class='header'>
    <%= avatar(post.user) %>
    <%= content_tag(:div, post.title, class: 'title') %>
  </div>
  <div class='footer'>
    <%= content_tag(:div, post.created_at, class: 'date') %>
    <%= content_tag(:div, post.user, class: 'user') %>
    <% if current_user %>
      <%= content_tag(:div, visibility_text(post), class: 'visibility') %>
    <% end %>
    <% if current_user == post.user %>
      <%= link_to('Edit', edit_post_path(post), class: 'edit') %>
      <%= link_to(
        'Delete',
        post_path(post),
        method: :delete,
        class: 'delete',
        data: { confirm: 'Are you sure that you want to delete this post?' }
      ) %>
    <% end %>
  </div>
  <div class='content'>
    <%= @redcarpet.render(post.content).html_safe %>
  </div>
</div>
