<h1>
  <% if @post.comment? %>
    Replying to "<%= @post.parent %>"
  <% elsif @post.download? %>
    <%= @post.new_record? ? 'Upload a new file' : 'Edit upload details' %>
  <% else %>
    <%= @post.new_record? ? 'New' : 'Edit' %> post
  <% end %>
</h1>

<%= render 'partials/errors', model: @post %>

<%= form_for @post do |f| %>
  <% if @post.new_record? %>
    <%= f.hidden_field(:category) unless @post.article? || @post.newspost? %>
    <%= f.hidden_field(:parent_id) if @post.comment? %>
  <% end %>

  <div class='edit-post-details'>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <% if @post.download? %>
      <%= f.label :upload, 'File' %>
      <%= f.file_field :upload %>
    <% elsif @post.article? || @post.newspost? %>
      <%= f.label :category, 'Kind' %>
      <%= f.select :category, [['Newspost', 'newspost'], ['Article', 'article']] %>
    <% end %>
    <%= f.select :visible, [['Hidden', false], ['Public', true]] %>
    <button>Save</button>
  </div>
  <div class='edit-post-content'>
    <%= f.text_area :content, rows: 14 %>
    <div id='post_preview'>No preview available.</div>
  </div>
<% end %>
