// Foreground:
$primary-dark: #446;
$primary-light: #888;
$primary-shadow: #CCD;

// Background:
$secondary-dark: #FFFFFF;
$secondary-light: #F8F8F8;
$secondary-shadow: #D0D0D0;

// Miscellaneous:
$accent-dark: #66F; // Currently only used for <a>, <blockquote>
$accent-light: #F66; // Logo text.
$accent-shadow: #FDD; // Logo shadow.

$alert-background: #FCC;
$alert-foreground: #433;
$alert-border: #866;
