@import "colours";

.alert {
  background: $alert-background;
  color: $alert-foreground;
  margin: 8px 0;
  border: 1px solid $alert-border;
  padding: 8px;
  border-radius: 8px;
}

.field-with-label {
  display: flex;
  label { min-width: 100px; text-align: right; }
  input { margin-left: 8px; flex: 1 }
}

.pagination {
  text-align: center;
  .separator::before { content: '•'; color: $primary-light }
}
