@import "colours";

.sign-in-form {
  width: 500px;
  margin: 0 auto;
  padding: 16px;

  background: $secondary-light;
  border: 1px solid $secondary-shadow;

  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

    padding-bottom: 16px;
    border-bottom: 1px solid $secondary-shadow;
    margin-bottom: 24px;
  }

  .actions { text-align: right }
}

.devise-links {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;

  a {
    color: $primary-light;
    &:hover, &:focus {
      color: $primary-dark;
      text-decoration: none;
    }
  }

  > *:not(:first-child)::before {
    content: '| ';
    color: $primary-shadow;
  }
}
