@import "colours";

.download {
  .preview audio { width: 100% }
  .direct {
    padding: 16px;
    text-align: center;
  }
  .deleted {
    padding: 49px 0;
    text-align: center;
    font-style: italic;
    color: $primary-shadow;
  }
}
