@import "colours.scss";

.edit-post-details {
  display: flex;

  >* {
    margin: 0;
    border: 1px solid #888;
    padding: 8px;
    font-size: 14px;
  }
  // Try to make the file input look semi-decent in Firefox and Chrome:
  input[type=file] { padding: 2px; background: white; width: 300px }

  label {
    background: #EEE;
    min-width: 36px;
    text-align: center;
  }

  #post_title { flex: 1 }
  select[name$='[category]'] { min-width: 100px }
  select[name$='[visible]'] { min-width: 88px }

  button {
    border: 1px solid #048;
    background: #08F;
    color: #FFF;
    min-width: 60px;
    font-weight: bold;
    cursor: pointer;
  }

  button:focus, button:hover { background: #19F; }
}

// On narrow screens, show the preview BELOW the actual textarea:
@media screen and (max-width: 768px) {
  .edit-post-content { flex-direction: column }
}

.edit-post-content {
  display: flex;
  >* {
    flex: 0.5;
    margin: 0;
    border: 1px solid #888;
    padding: 8px;
  }
  textarea {
    background: white;
    font: 14px monospace;
  }
  #post_preview { background: #EEE; }
}
