@import "colours.scss";

body {
  margin: 0;
  font: 18px 'Raleway', serif;
  color: $primary-dark;
  background: $secondary-dark;
}

a { color: $accent-dark; text-decoration: none }
a code { color: $accent-dark }
a:focus, a:hover { text-decoration: underline }

blockquote {
  margin: 16px 24px;
  border-left: 3px solid $accent-dark;
  padding: 8px 16px;
}

code {
  font: 16px 'Source Code Pro', monospace;
  color: rgb(8, 68, 68);
  background: rgb(240, 240, 240);
  border-left: 4px solid rgb(240, 240, 240);
  border-right: 4px solid rgb(240, 240, 240);
  border-radius: 4px;
}

h1, h2, h3, h4, h5, h6 { margin: 20px 0 }

hr {
  border: none;
  border-top: 1px solid $secondary-shadow
}

p {
  margin: 0;
  line-height: 28px;
}

p + p { margin-top: 24px }

// Shrink images/videos if they're too big:
video, img {
  max-width: 100%;
  height: auto;
}

// Center images/videos and YouTube iframe embeds:
video, img, iframe {
  margin: 0 auto;
  display: block;
}
