@import "colours.scss";

.page-header {
  text-align: center;

  .logo {
    display: inline-block;
    margin-top: 16px;
    font-size: 48px;
    color: $accent-light;
    text-shadow: 2px 3px 0px $accent-shadow;

    &:focus, &:hover { text-decoration: none }
  }

  .random-tagline {
    display: block;
    font-size: 12px;
    color: $primary-light;

    margin: 12px 22vw;
    margin-bottom: 4px;
    padding: 6px 0;
    border: 1px dashed $secondary-shadow;
    border-left: none;
    border-right: none;
  }
}

.page-navigation {
  // General links - always shown:
  .general-actions {
    position: relative;
    max-height: 0;
    top: -80px;

    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

    white-space: nowrap;

    a { margin: 0 12px }
    a:nth-child(2) { margin-right: 100px }
    a:nth-child(3) { margin-left: 100px }
  }

  // Only shown to users who are logged in:
  .user-actions {
    background: $secondary-light;
    margin-top: 8px;
    padding: 8px;
    border: 1px solid $secondary-shadow;

    text-align: center;
    font-size: 14px;
    a { margin: 0 8px }
  }
}

.page-content { margin: 16px; }

.page-footer {
  color: $primary-light;
  padding: 10px;
  text-align: center;
}
