@import "colours.scss";

.post-summary {
  color: $primary-light;
  text-align: center;

  margin: 0 16vw;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted $secondary-shadow;

  .title { display: block }
  .genre, .size { display: none }
  .date::before { content: '| ' }
  *:not(.title) { font-size: 14px }

  .visible {
    color: $accent-light;
    &::before { content: '[' }
    &::after { content: ']' }
  }
}

.nothing-to-show {
  padding: 49px 0;
  text-align: center;
  font-style: italic;
  color: $primary-shadow;
}
