@import "colours.scss";

.post {
  background: $secondary-light;
  border: 1px solid $secondary-shadow;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;

  width: 66vw;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    .avatar {
      margin: 0;
      min-width: 60px;
      max-height: 60px;
      border-radius: 8px;
    }
    .title {
      margin-left: 12px;
      margin-top: 16px;
      text-shadow: 0 2px 2px $primary-shadow;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .content { margin-top: 8px }
  // Don't position the "footer" at the bottom; keep it above the content:
  .footer {
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid $secondary-shadow;
    color: $primary-light;
    >* { margin-left: 4px; }
    // Change the format of the user/date text a bit:
    .date::before { content: 'Posted at ' }
    .date::after { content: ' by' }
    .visibility::before { content: '[' }
    .visibility::after { content: ']' }
  }
}
