<% return unless records[:earlier] || records[:later] %>

<div class="pagination">
  <%= link_to(
    t('views.pagination.earlier'),
    newsposts_path(page: records[:page] + 1),
  ) if records[:earlier] %>
  <% if records[:earlier] && records[:later] %>
    <span class="separator"></span>
  <% end %>
  <%= link_to(
    t('views.pagination.later'),
    newsposts_path(page: records[:page] - 1),
  ) if records[:later] %>
</div>
