<% title = t('common.newspost').titleize.pluralize %>
<% content_for(:title, title) %>
<% content_for(:metadata, ogp_tags(title, newsposts_url)) %>

<% unless @newsposts[:data].exists? %>
  <div class='nothing-to-show'>There's nothing to see here right now...</div>
<% end %>

<% @newsposts[:data].each do |newspost| %>
  <%= render 'posts/embed', post: newspost %>
<% end %>

<%= render 'pagination', records: @newsposts %>
